body{
    margin: 0;
    padding: 0;
    background-color: #06151d;
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
}

.primaryBackground{
    background-color: #06151d;
}

.secondaryBackground{
    background-color: #082029;
}

.content{
    height: 100%;
    width: 100%;
}

header{
    height: 100px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: calc(100vh - 200px);
    overflow-y: auto; 
 
}


footer{
    height: 100px;
}

.dNone{
    display: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #06151d;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #082029;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  transform: scale(1.03);
}
