body{
    margin: 0;
    padding: 0;
    background-color: #06151d;
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
    
}

h1{
  padding-left: 20px;
}

.primaryBackground{
    background-color: #06151d;
    width: 100%;
}

.secondaryBackground{
    background-color: #082029;
}

.content{
  
  height: 100%;
  width: 100%;
}

header{
  width: 100%;
  height: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

header img{
  height: 50px;
  width: 50px;
  object-fit: contain;
  
}

header img:hover {
  cursor: pointer;
}

header button:hover {
  cursor: pointer;
}

header button{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.headerIMG{
  
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  font-size: 22px;
}

.headerContent {
    padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  
  align-items: center;
  max-width: 1440px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 200px);
    width: 100%;
    overflow-y: auto; 
   
    align-items: center;
}

.mainContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
}

.loading{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 20px;
}

.spinner{
  height: 150px;
  width: 150px;
  animation: rotate 1s infinite linear;
}

@keyframes rotate{
    100%{ transform:rotate(1turn) } 
}

footer{
    height: 100px;
}

.dNone{
    display: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #06151d;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #082029;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  transform: scale(1.03);
}

@media(max-width: 440px) {
    .headerIMG p{
      display: none;
    }
}

