

dialog{
    height: calc(100% - 50vh);
    width: 350px;
    border-radius: 10%;
 
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.4);
    /* halbtransparent */
}
.dialogContent{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

dialog header{
    position: absolute;
    top: 0;
    background-color: red;
    height: 200px;
    width: 100%;
    border-radius: 10%;
}

dialog main{
    background-color: white;
    height: 50%;
    width: 100%;
}

dialog footer{
    background: white;
    height: 10px;
     width: 100%;
}


