dialog {
    height: 600px;
    width: 350px;
    border-radius: 10px;
    padding: 0;
    text-transform: capitalize;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.4);
    /* halbtransparent */
}

.dialogContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 600px;
    width: 350px;
    margin: 0;
    padding: 0;
}

.dialogContent header {
    top: 0;
    height: 220px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.dialogHeaderInformation {
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.dialogHeaderInformation p {
    font-size: 28px;
}

.dialogHeaderImgs {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.dialogHeaderImgs img {
    height: 120px;
    width: 120px;
}

.typesBig {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.typesBig img {
    height: 30px;
    width: 80px;
}

.dialogContent main {
    flex: 1;
    height: 315px;
    width: 100%;
    background-color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.bigCardNavigation {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.bigCardNavigation button {
    border: none;
    border-bottom: 2px solid transparent;
    background: none;
    padding: 2px 6px;
    cursor: pointer;
    background-color: white;
}

.bigCardNavigation button.isSelected {
    border-bottom-color: black;
    outline: none;
}

.mainContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.about {
    width: 300px;
    padding-left: 30px;
    bottom: 0;
}

.breeding {
    width: 200px;
    padding-left: 30px;
    bottom: 0;
}

.dialogContent footer {
    height: 60px;
    width: 100%;
    background-color: white;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.dialogContent footer button {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

@media(max-width: 410px) {
    dialog {
        width: 320px;
    }

    .dialogContent main {
        height: 315px;
        padding: 0;
        margin: 0;
    }

    .dialogContent {
        width: 320px;
    }

    .mainContent {
        height: calc(320px - 21px);
    }

    .about {
        width: 290px;
    }
}

@media(max-width: 360px) {
    dialog {
        width: 270px;
    }

    .dialogContent main {
        height: 315px;
        padding: 0;
        margin: 0;
    }

    .dialogContent {
        width: 270px;
    }

    .mainContent {
        height: calc(320px - 21px);
    }

    .about {
        width: 240px;
    }
}