body{
    color: white;
}

#responsiveId {
    display: none;
}

.impressumContent{
    width: calc(100% - 100px);
}


.aContainer {   
    display: flex;
    flex-direction: column;
    align-items: center;
    color: green;
}

.paddingLeftRight{
    padding-left: 50px;
    padding-right: 50px;
}

.aContainer a {
    padding-bottom: 5px;
    color: green;
}

.padding {
    padding: 0 4%;
}

@media(max-width: 950px) {
    #responsiveId {
        display: flex;
        align-items: center;

    }

    .padding {
        padding: 0 6%;
    }
}

@media(max-width: 530px) {
    h2 {
        margin: 0;
        font-size: 20px;
    }
}

@media(max-width: 450px) {
    .impressumContent{
        width: calc(100% - 20px);
    }
}

@media(max-width: 400px) {
    .padding {
        padding: 0 10%;
    }
}