.smallCardContainer{
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.cardSmall{
     margin: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    min-height: 280px;
    min-width: 200px;
    height: 280px;
    width: 200px;
    background-color: #082029;
    border: 3px solid;
    box-shadow: 0 0 15px ;
    text-transform: capitalize;
}

.cardSmall:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.smallTop{
    display: flex;
    color: white;
    height: 30px;
    align-items: center;
    margin: 5px;
    font-size: 20px;
    
}

.numberSmall{
    justify-content: flex-start;
}

.nameSmall{
    margin: auto;
}

.smallMiddle{
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: flex-end;
}

.smallMiddle img{
    height: 150px;
    width: 150px;
}

.smallBottom{
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.smallBottom img{
    height: 15px;
    width: auto;
    padding: 5px;
}

.mainContainer{
    display: flex;
    flex-direction: column;
}

.litteCardButtom{
    height: 100px;
    margin: 50px;
    width: 300px;
    border-radius: 10px;
}